# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Production/Build outputs
dist/
frontend/dist/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
